.calendar-container {

  background: white;
  padding: 30px;
  border-radius: 16px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.08);

}

.calendar-title {

  font-size: 26px;
  font-weight: bold;

  color: #bfa14a;

  margin-bottom: 20px;

}

/* style events */

.fc-event {

  border-radius: 6px;
  border: none;
  padding: 4px;

}

/* hover */

.fc-event:hover {

  opacity: 0.8;

}