/* Animation pour le menu mobile */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* Petite amélioration du rendu sur mobile */
@media (max-width: 768px) {
  header img {
    height: 2.5rem;
  }
  header span {
    font-size: 1rem;
  }
}
header img {
  transition: all 0.4s ease-in-out;
}

header {
  transition: all 0.4s ease-in-out;
}

