/* Tailwind v4 */
@import "tailwindcss";

/* Fix overflow global */
html, body {
  margin: 0;
  padding: 0;
}

html, body {
    overflow-x: hidden !important;
    width: 100% !important;
    max-width: 100% !important;
}

.hero-container,
.hero-container * {
    max-width: 100% !important;
}

.hero-right-clip {
    clip-path: polygon(5% 0, 15% 100%, 100% 100%, 100% 0) !important;
}
