/* Tailwind v4 */
@import "tailwindcss";

html {
  zoom: 0.80; /* équivaut à contrer un DPI de 125%-150% */
}

@media (min-width: 1600px) {
  html {
    zoom: 1; /* Retina, 4K */
  }
}
@media (max-width: 1200px) {
  html {
    zoom: 0.75; /* petits écrans */
  }
}
@media (max-width: 800px) {
  html {
    zoom: 0.60; /* très petits écrans */
  }
}