@import "tailwindcss";

@layer utilities {
  .hero-left-clip {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 75% 0);
  }
  .hero-right-clip {
    clip-path: polygon(0 0, 20% 100%, 100% 100%, 100% 0);
  }
}
