/* Tailwind v4 */
@import "tailwindcss";

/* GLOBAL : applique VRAIMENT à toute l’app */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;        /* Anti espace blanc à droite */
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


@media (min-width: 1600px) {
  html {
    zoom: 1; /* Retina, 4K */
  }
}
@media (max-width: 1200px) {
  html {
    zoom: 0.75; /* petits écrans */
  }
}
@media (max-width: 800px) {
  html {
    zoom: 0.60; /* très petits écrans */
  }
}