@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

@import "tailwindcss";

html, body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background-color: #ffffff;
  color: #2a2a2a;
}

section {
  transition: all 0.4s ease;
}

img {
  transition: transform 0.4s ease;
}

img:hover {
  transform: scale(1.03);
}

h1, h2, h3 {
  letter-spacing: 0.5px;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

.scroll-reveal.show {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 1s ease forwards;
}
