/* ============================
   🔥 GLOBAL STYLE CLEAN
   Pour Angular + Tailwind 4
============================ */

/* Import Tailwind CSS v4 */
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --container-8xl: 96rem;
}

/* Reset safe */
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

@media (min-resolution: 1.25dppx) {
  body {
    zoom: 0.75;  
  }
}

@media (min-resolution: 2dppx) {
  body {
    zoom: 0.65;  
  }
}

@media (min-resolution: 1.5dppx) and (max-resolution: 1.99dppx) {
  body {
    zoom: 0.80;  
  }
}

/* -------- SCROLLBAR -------- */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.55);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,.35) transparent;
}

/* -------- GOOGLE TRANSLATE (BEST EFFORT) -------- */
.goog-te-banner-frame,
iframe.goog-te-banner-frame,
.goog-te-gadget,
.goog-te-balloon-frame,
#goog-gt-tt,
.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}

/* -------- LANGUAGE FLAGS -------- */
.flag {
  display: inline-block;
  width: 24px;
  height: 16px;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  border: 1px solid #bfa14a;
  cursor: pointer;
}


.flag-fr {
  background-image: url('../public/images/fr.png');
}

.flag-en {
  background-image: url('../public/images/en.png');
}


